{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}

<main class="cart flex-grow-1">
    <section>
        <div class="container">
        
            <div class="row">
                
                <div class="col-6">
                    <h3 class="my-3">Panier</h3>
                    
                    {% if cart | length > 0 %}
                        {% for item in cart %}
                        
                            <div class="card mb-3 g-0 border-0">
                                <div class="row g-0">
                                    <div class="col-md-3">
                                        <img src="{{ asset('/images/products/') ~ item.product.imageName }}" class="img-fluid rounded-start" alt="{{ item.product.imageName }}">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body d-flex justify-content-between">
                                            <h3> {{ item.product.name }}</h3>
                                            
                                            <a href="{{ path('cart_remove_product', { "id": item.product.id }) }}" class="btn btn-close btn-close-custom " aria-label="Close"></a>
                                            
                                            
                                        </div>
                                        <div class="card-footer d-flex justify-content-between border-0">
                                            <div class="btn-group" role="group" aria-label="Basic example">

                                                <a href="{{ path('cart_delete', { "id": item.product.id }) }}" class="btn btn-custom-color text-white fw-bold rounded">-</a>
                                                <button class="btn border-0 disabled fw-bold">{{ item.quantity }}</button>
                                                <a href="{{ path('cart_add', { "id": item.product.id }) }}" class="btn btn-custom-color text-white fw-bold rounded">+</a>
                                            </div>


                                            <p class="card-text">{{ ((item.product.price / 100) * item.quantity) | format_currency('EUR') }}</p>
                                        </div>
                                    </div>       
                                </div>
                            </div>
                        
                        {% endfor %}

                            <div class="d-flex justify-content-center">
                                <a href="{{ path('cart_remove') }}" class="btn btn-remove-cart-color  text-white">Vider le panier</a>
                            </div>
                    
                    {% else %}

                        <div class="card border-0">
                            <div class="card-body text-center">
                                <p class="card-text fw-semibold fs-5">Votre panier est vide !</p>
                                <p class="card-text">Accédez à la boutique afin de découvrir nos articles !</p>

                                <a class="btn btn-custom-color text-white" href="{{ path('shop_index') }}">Découvrir la boutique</a>
                            </div>
                        </div>

                    {% endif %}
                       
                </div>
                
                <div class="col-6">
                    <h3 class="my-3"> Résumé</h3>
                    <div class="card g-0 border-0 mb-3">

                        <div class="card-body">

                            <p class="card-text mt-3">Total = {{ (TotalHTC / 100) | format_currency('EUR') }}</h3>
                        </div>

                        <div class="card-footer text-center border-0">
                            <a href="{{ path('checkout') }}" class="btn btn-custom-color text-white">Passer au paiement</a>
                            
                            <span class="choice d-flex justify-content-center my-3">ou</span>
                            
                            <a href="{{ path('shop_index')}}" class="nav-link fw-bold text-color-custom my-3">Continuer mes achats</a>

                        </div>
                        
                    </div>
                    
                </div>
        
            </div>

        </div>
    </section>
</main>

{% endblock %}
