{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}

{% block body %}

<main class="activities">
    <section class="title-activities">
        <div class="container">
            <h1 class="text-center py-5">Mes différentes Activités</h1>
        </div>
    </section>

    <section class="section-activities">
        <div class="container my-5">

            {% for activity in activities %}
                {% if loop.index is odd %}

                    <div class="row mb-3">
                        <div class="col-6">
                            <div class="card border-0 h-100">
                                <img src="{{ asset('/images/activities/') ~ activity.imageName }}"  class="img-fluid rounded" alt="">
                            </div>
                           
                        </div>
                        
                        <div class="col-6">

                            <div class="card text-center border-0 h-100">

                                <div class="card-header text-center">
                                    <h3 class="card-title mt-3">{{ activity.title }}</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">{{ activity.content | raw }}</div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="row mb-3">
                        <div class="col-6">

                            <div class="card text-center border-0 h-100">

                                <div class="card-header text-center">
                                    <h3 class="card-title mt-3">{{ activity.title }}</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-text">{{ activity.content | raw }}</div>
                                </div>
                            
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card border-0 h-100">
                                <img src="{{ asset('/images/activities/') ~ activity.imageName }}"  class="img-fluid rounded" alt="">
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </section>
</main>

{% endblock %}
