{% extends 'base.html.twig' %}

{% block title %}Hello CoachingsController!{% endblock %}

{% block body %}

<main>
    <section class="coaching">

        <div class="container my-5">
            <div class="row">
                {# Changer le for pour un if #}
                {% for coaching in coachings_page %}
                    <h1 class="title text-center">{{ coaching.title }}</h5>
                    <p class="text">{{ coaching.content | raw }}</p>
                {% endfor %}
            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
                {% for cycle in cycles %}
                
                <div class="col">
        
                    <div class="card h-100">
        
                        <div class="card-body">
                            <h5 class="card-title">{{ cycle.title }}</h5>
                             <p class="card-text">{{ cycle.content | raw }}</p>
                            {# <img class="img-fluid" src="{{ asset('/images/ateliers/') ~ ateliers.imageName }}"> #}
                        </div>
                        <div class="card-footer text-center border-0">
                             <p class="text">{{ cycle.price }} €</p>
                        </div>
        
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </section>
</main>
{% endblock %}
