{% extends 'base.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block body %}

<main>
    <section class="consultation">

        <div class="container my-5">
            <div class="row">
                <div class="col-6 mx-auto">

                    <div class="card text-center">
                        <div class="card-body">

                            {% for consultation in consultations %}
                                <h5 class="card-title">{{ consultation.title }}</h5>
                                <p class="card-text">{{ consultation.content | raw }}</p>
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>


            <div class="row">

                {% for deroulement in deroulements %}
                
                    <div class="col">
            
                        <div class="card h-100">
            
                            <div class="card-body">
                                <p class="card-text"> {{ deroulement.step }}</p>
                                <h5 class="card-title">{{ deroulement.title }}</h5>
                                <p class="card-text">{{ deroulement.content | raw }}</p>
                                {# <img class="img-fluid" src="{{ asset('/images/ateliers/') ~ ateliers.imageName }}"> #}
                            </div>
            
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>
</main>
{% endblock %}
