{% extends 'base.html.twig' %}

{% block title %}Consultation{% endblock %}

{% block body %}

<main>
    <section class="consultation py-5">
        <div class="container">
            <div class="row row-consultation">
                {% for consultation in consultations %}
                    <h5 class="title text-center text-white">{{ consultation.title }}</h5>
                    <div class="consultation-content text-center text-white">{{ consultation.content | raw }}</div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section>

        <div class="container my-5">
            <div class="row">
            {% for deroulement in deroulements %}
                
                <div class="row">
                
                    <div class="card mb-3 g-0 border-0">
                        <div class="row g-0">
                            {% if loop.index is odd %}
                                    <!-- Image à gauche pour les itérations impaires -->
                                    <div class="col-md-3">
                                        <img src="{{ asset('/images/consultations/') ~ deroulement.imageName }}" class="img-fluid rounded-start" alt="{{ deroulement.imageName }}">
                                    </div>
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <p class="card-text">{{ deroulement.step }}</p>
                                            <h5 class="card-title">{{ deroulement.title }}</h5>
                                            <p class="card-text">{{ deroulement.content | raw }}</p>
                                        </div>
                                    </div>
                                {% else %}
                                    <!-- Image à droite pour les itérations paires -->
                                    <div class="col-md-9">
                                        <div class="card-body">
                                            <p class="card-text">{{ deroulement.step }}</p>
                                            <h5 class="card-title">{{ deroulement.title }}</h5>
                                            <p class="card-text">{{ deroulement.content | raw }}</p>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <img src="{{ asset('/images/consultations/') ~ deroulement.imageName }}" class="img-fluid rounded-end" alt="{{ deroulement.imageName }}">
                                    </div>
                                {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </section>
</main>
{% endblock %}
