{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main>
    <section class="mb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-center mx-auto my-5" style="max-width: 700px;">
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Rendez-vous sur Doctolib</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <a href="https://www.doctolib.fr/dieteticien/esbly/coline-legeard" class="btn btn-primary rounded-2">Prendre rendez-vous</a>
                                    <p class="card-text"><small class="text-body-secondary">Prise de rendez-vous également par mail et téléphone</small></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h5 class="card-title">Tarifs*</h5>
                                    <table class="card-text table table-borderless">
                                        <tbody>
                                            <tr>
                                                <td>Première consultation</td>
                                                <td>60€</td>
                                            </tr>
                                            <tr>
                                                <td>Consultation de suivi</td>
                                                <td>45€</td>
                                            </tr>
                                            <tr>
                                                <td>Première consultation étudiant</td>
                                                <td>50€</td>
                                            </tr>
                                            <tr>
                                                <td>Consultation de suivi étudiant</td>
                                                <td>40€</td>
                                            </tr>
                                            <tr>
                                                <td>Soins énergétiques </td>
                                                <td>60€</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <p class="card-text"><small class="text-body-secondary">* Diététique et/ou naturopathie</small></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-6">

                    <div class="card text-center">
                        <div class="card-body">
                                <h5 class="card-title">Coordonnées</h5>
                                <p class="card-text">Adresse des cabinets :</p>
                                <p class="card-text">19 route de Provins 77144 MONTEVRAIN</p>
                                <p class="card-text">ou</p>
                                <p class="card-text">53 boulevard Antoine Giroust 77600 BUSSY SAINT GEORGES</p>
                                <p class="card-text">Mail : coline.legeard@gmail.com</p>
                                <p class="cart-text">Téléphone : 06 35 23 76 01</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">

                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Mes réseaux sociaux</h5>
                            <p class="card-text">Pour y trouver recettes, conseils et articles</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section-contact mb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mx-auto"style="max-width: 700px;">
                        <div class="card-body">
                            <h3 class="text-center">Contact</h3>
                            {{ form_start(form) }}
                                <div class="my-custom-class-for-errors">
                                    {{ form_errors(form) }}
                                </div>

                                <div class="row">
                                    <div class="col mb-3">
                                        {{ form_row(form.Prenom, {'label':false}) }}
                                    </div>
                                    <div class="col mb-3">
                                        {{ form_row(form.Nom, {'label':false}) }}
                                    </div>
                                    <div class="col mb-3">
                                        {{ form_row(form.Email, {'label':false}) }}
                                    </div>
                                </div>

                                <div class="row g-3">
                                    <div class="col mb-3">
                                        {{ form_row(form.Message, {'label':false}) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col text-center">
                                        {{ form_row(form.Envoyer) }}
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
