{% extends 'base.html.twig' %}

{% block title %}À propos
{% endblock %}

{% block body %}

	<div class="container py-5">
		<h1 class="text-center">À propos</h1>
	</div>

	<div class="container valeurs">
		<div class="row g-4">

			{% for item in about %}
				{% if loop.first %}
					<div class="col-12 col-md-6">
						<div class="card border-0 shadow-sm h-100 rounded-4">
							<img src="{{ asset('/images/about/') ~ item.imageName }}" class="img-fluid rounded-4 h-100 w-auto" alt="">
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="card border-0 text-center p-4 h-100 rounded-4 shadow-sm">
							<div class="card-header">
								<h3 class="card-title">{{ item.title }}</h3>
							</div>
							<div class="card-body">
								<p class="card-text">{{ item.content | raw }}</p>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>

	<div class="container approche">
		<h1 class="text-center py-5">Mon approche</h1>

		<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
			{% for item in approche %}
				<div class="col d-flex align-items-stretch">
					{% if item.title is not empty or item.content is not empty %}
						<div class="card border-0 h-100 text-center rounded-4 shadow-sm p-4">
							<div class="card-header">
								<h3 class="card-title">{{ item.title }}</h3>
							</div>
							<div class="card-body">
								<p class="card-text">{{ item.content | raw }}</p>
							</div>
						</div>
					{% else %}
						<div class="card border-0 h-100 shadow-sm rounded-4">
							<img src="{{ asset('/images/about/') ~ item.imageName }}" class="img-fluid h-100 rounded-4" alt="">
						</div>
					{% endif %}
				</div>
			{% endfor %}
		</div>

	</div>

	<div class="container diplomes mb-5">
		<h1 class="text-center py-5">Mon parcours</h1>
		<div class="row g-4">
			{% for item in about %}
				{% if loop.last %}
					<div class="col-12 col-md-6">
						<div class="card border-0 h-100 rounded-4 shadow-sm">
							<img src="{{ asset('/images/about/') ~ item.imageName }}" class="img-fluid h-100 rounded-4" alt="">
						</div>
					</div>
					<div class="col-12 col-md-6">
						<div class="card border-0 text-center h-100 rounded-4 shadow-sm p-4">
							<div class="card-header">
								<h3 class="card-title">{{ item.title }}</h3>
							</div>
							<div class="card-body">
								<p class="card-text">{{ item.content | raw }}</p>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
