{% extends 'base.html.twig' %}

{% block title %}À propos
{% endblock %}

{% block body_class %}about-page
{% endblock %}

{% block body %}

	<div
		class="container mb-5">

		{# <div class="row my-5">
					<h1 class="text-center">À propos</h1>
				</div> #}

		<div class="row my-5">
			<h1 class="text-center reveal-top">Mon approche</h1>
		</div>

		<div class="row g-4 approche-page">


			{% for item in approche %}


				<div class="card p-5 border-0 shadow-sm rounded-4 d-flex flex-row justify-content-between
				 {% if loop.index is odd %}reveal-left{% else %}reveal-right{% endif %}">

					{% if loop.index is odd %}
						<!-- Image à gauche pour les itérations impaires -->


						{% if not item.imageName %}
							<div class="col-12 col-md-12">
								<div class="card-body">
									<h3 class="card-title">{{ item.title }}</h3>
									<p class="card-text">{{ item.content | raw }}</p>
								</div>
							</div>

						{% else %}
							<div class="col-12 col-md-3">
								<img src="{{ asset('/images/about/') ~ item.imageName }}" class="img-fluid object-fit-cover shadow-sm rounded-4" style="transform: translateX(-80px);" alt="{{ item.imageName }}">
							</div>

							<div class="col-12 col-md-9">
								<div class="card-body">
									<h3 class="card-title">{{ item.title }}</h3>
									<p class="card-text">{{ item.content | raw }}</p>
								</div>
							</div>


						{% endif %}


					{% else %}
						<!-- Image à droite pour les itérations paires -->
						{% if not item.imageName %}

							<div class=" col-12 col-md-12">
								<div class="card-body">
									<h3 class="card-title">{{ item.title }}</h3>
									<p class="card-text">{{ item.content | raw }}</p>
								</div>
							</div>
						{% else %}

							<div class=" col-12 col-md-9">
								<div class="card-body">
									<h3 class="card-title">{{ item.title }}</h3>
									<p class="card-text">{{ item.content | raw }}</p>
								</div>
							</div>

							<div class="col-12 col-md-3">
								<img src="{{ asset('/images/about/') ~ item.imageName }}" class="img-fluid object-fit-cover shadow-sm rounded-4" style="transform: translateX(80px);" alt="{{ item.imageName }}">
							</div>

						{% endif %}

					{% endif %}

				</div>

			{% endfor %}

		</div>

		<div class="row my-5">
			<h1 class="text-center reveal-top">Mon parcours</h1>
		</div>

		<div class="row g-4">

			{% for item in about %}
				<div class="col-12 col-md-12 col-lg-6">
					<div class="card border-0 shadow-sm h-100 rounded-4 reveal-left">
						<img src="{{ asset('/images/about/') ~ item.imageName }}" class="img-fluid rounded-4 h-100 object-fit-cover" alt="{{ item.imageName }}">
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-6">
					<div class="card border-0 text-center p-4 h-100 rounded-4 shadow-sm reveal-right">
						<div class="card-header">
							<h3 class="card-title">{{ item.title }}</h3>
						</div>
						<div class="card-body">
							<p class="card-text">{{ item.content | raw }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>


	</div>


{% endblock %}
