{% extends 'base.html.twig' %}

{% block title %}Consultation
{% endblock %}

{% block body %}

	<div class="row consultation-header mb-5">
		{% for consultation in consultations %}
			<h3 class="title text-center text-white">{{ consultation.title }}</h3>
			<div class="fs-4 text-center text-white">{{ consultation.content | raw }}</div>
		{% endfor %}
	</div>

	<div class="container">

		<div class="row justify-content-center g-4 my-5">
			{% for consultation in priceConsultations %}
				<div class="col-12 col-sm-6 col-md-4">
					<div
						class="card text-center border-0 shadow-sm rounded-4 p-4 h-100">
						<!-- Ici tu peux ajouter une icône ou illustration si tu veux -->
						<div class="mb-3">
							<i class="bi bi-person-lines-fill fs-1 text-primary"></i>
						</div>

						<h5 class="card-title fw-bold mb-2">{{ consultation.name }}</h5>
						<p class="display-6 fw-bold text-dark mb-3">{{ (consultation.price / 100) | format_currency('EUR') }}</p>
						<p class="card-text text-muted mb-4">Description courte ou bénéfice de cette consultation.</p>

					</div>
				</div>
			{% endfor %}
		</div>

		<div class="row">
			{% for deroulement in deroulements %}

				<div class="row mb-5">

					<div class="card p-5 border-0 shadow-sm rounded-4 d-flex flex-row justify-content-between">

						{% if loop.index is odd %}
							<!-- Image à gauche pour les itérations impaires -->
							<div class="col-12 col-md-3">
								<img src="{{ asset('/images/consultations/') ~ deroulement.imageName }}" class="img-fluid object-fit-cover shadow-sm rounded-4" style="transform: translateX(-80px);" alt="{{ deroulement.imageName }}">
							</div>

							<div class="col-12 col-md-9">
								<div class="card-body">
									<span class="card-text fw-bold fs-5">{{ "%02d"|format(deroulement.step) }}</span>
									<h3 class="card-title">{{ deroulement.title }}</h3>
									<p class="card-text">{{ deroulement.content | raw }}</p>
								</div>
							</div>

						{% else %}
							<!-- Image à droite pour les itérations paires -->
							<div class=" col-12 col-md-9">
								<div class="card-body">
									<span class="card-text fw-bold fs-5">{{ "%02d"|format(deroulement.step) }}</span>
									<h3 class="card-title">{{ deroulement.title }}</h3>
									<p class="card-text">{{ deroulement.content | raw }}</p>
								</div>
							</div>

							<div class="col-12 col-md-3">
								<img src="{{ asset('/images/consultations/') ~ deroulement.imageName }}" class="img-fluid object-fit-cover shadow-sm rounded-4" style="transform: translateX(80px);" alt="{{ deroulement.imageName }}">
							</div>

						{% endif %}

					</div>
				</div>

			{% endfor %}

		</div>

	</div>
{% endblock %}
