{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main class="flex-grow-1">
    <section class="mb-5">
        <div class="container">
            {# read and display several types of flash messages #}
            {% for label, messages in app.flashes(['success', 'danger']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} mt-5">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="row">
                <div class="col-6">

                    <div class="card text-center">
                        <div class="card-body">
                                <h5 class="card-title">Coordonnées</h5>
                                <p class="card-text">Adresse des cabinets :</p>
                                <p class="card-text">19 route de Provins 77144 MONTEVRAIN</p>
                                <p class="card-text">ou</p>
                                <p class="card-text">53 boulevard Antoine Giroust 77600 BUSSY SAINT GEORGES</p>
                                <p class="card-text">Mail : coline.legeard@gmail.com</p>
                                <p class="cart-text">Téléphone : 06 35 23 76 01</p>
                        </div>
                    </div>
                </div>

                <div class="col-6">

                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Mes réseaux sociaux</h5>
                            <p class="card-text">Pour y trouver recettes, conseils et articles</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="section-contact mb-5">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card mx-auto"style="max-width: 700px;">
                        <div class="card-body">
                            <h3 class="text-center">Contact</h3>

                            {{ form_start(form) }}

                                <div class="row">
                                    <div class="col mb-3">
                                        {{ form_row(form.Prenom) }}
                                    </div>
                                    <div class="col mb-3">
                                        {{ form_row(form.Nom) }}
                                    </div>
                                    <div class="col mb-3">
                                        {{ form_row(form.Email) }}
                                        {{ form_errors(form.Email) }}
                                    </div>
                                </div>

                                <div class="row g-3">
                                    <div class="col mb-3">
                                        {{ form_row(form.Message) }}
                                        {{ form_errors(form.Message) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col text-center">
                                        {{ form_row(form.Envoyer) }}
                                    </div>
                                </div>

                            {{ form_end(form) }}
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
