{% extends 'base.html.twig' %}

{% block title %}
	{{controller_name }}
{% endblock %}

{% block body %}

	<div class="container my-5">

		<div class="row">
			<div class="col-12 text-center mb-4">
				{% for content in homeContent %}

					<h1 class="fw-bold">{{ content.title }}</h1>
					<h3 class="fw-bold">{{ content.subtitle }}</h3>
					<h3 class="fw-bold mb-5">{{ content.fullName }}</h3>

					<figure class="text-center">
						<blockquote class="blockquote">
							<p>Prends soin de ton corps pour que ton âme ait envie de l'habiter</p>
						</blockquote>
						<figcaption class="blockquote-footer">
							<cite title="Proverbe chinois">Proverbe chinois</cite>
						</figcaption>
					</figure>


				{% endfor %}

			</div>
		</div>

		<div class="row g-4">

			{% for content in homeContent %}

				<div class="text-center mb-4">
					<p class="fw-bold">{{ content.consult }}</p>
					<div class="mb-3">
						<a href="https://www.doctolib.fr/dieteticien/esbly/coline-legeard" class="btn btn-custom-color text-white rounded-pill">Prendre rendez-vous sur doctolib</a>
					</div>
				</div>


				<div class="col-12 col-md-12 col-lg-6">
					<div class="card border-0 p-4 h-100 rounded-4 shadow-sm">
						<div class="card-header text-center">
							<h2 class="card-title">Mon approche</h2>
						</div>
						<div class="card-body text-start">
							<p class="card-text">{{ content.content | raw }}</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-12 col-lg-6">
					<div class="card border-0 shadow-sm h-100 rounded-4">
						<img src="{{ asset('/images/home/') ~ content.imageName }}" class="img-fluid rounded-4 h-100 object-fit-cover" alt="">
					</div>
				</div>

			{% endfor %}

		</div>
	</div>


	<div class="container-fluid home-message py-5 mt-5">
		<div class="row">
			<p class="fs-4 text-white text-center">
				Je vous aide à retrouver une relation plus apaisée avec votre alimentation et votre corps.
			</p>
		</div>
	</div>
{% endblock %}
