{% extends 'base.html.twig' %}

{% block title %}Hello AteliersController!{% endblock %}

{% block body %}

<main class="flex-grow-1">

    <section class="atelier">

        <div class="container">

            {# read and display several types of flash messages #}
            {% for label, messages in app.flashes(['success', 'danger']) %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} mt-5">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="row row-cols-1 row-cols-md-3 g-4 my-5">
                
                {% for atelier in ateliers %}

                    {% if atelier.isAvailable %}

                        <div class="col">
                
                            <div class="card h-100">
                
                                <div class="card-body">
                                    <h5 class="card-title">{{ atelier.title }}</h5>
                                    <span class="badge-atelier badge text-bg-success py-2 my-1">{{ atelier.theme }}</span>
                                    <img class="img-fluid" src="{{ asset('/images/ateliers/') ~ atelier.imageName }}">
                                </div>
                                <div class="card-footer text-center border-0">
                                    <a href="{{ path('ateliers_detail', { "slug": atelier.slug }) }}" class="btn btn-primary">Voir</a>
                                </div>
                
                            </div>
                        </div>
                    
                    {% endif %}
            
                {% endfor %}
            </div>
        </div>

    </section>

</main>
{% endblock %}
