{% extends 'base.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="card mb-3 g-0 border-0">
                        <div class="card-title">Informations de paiement</div>
                        <h5></h5>
                        <div class="card-body">
                            {{ form_start(form) }}

                                <div class="row">

                                    <div class="col mb-3">
                                    
                                        {{ form_row(form.firstName) }}
                                        {{ form_errors(form.firstName) }}

                                    </div>

                                    <div class="col mb-3">
                                        {{ form_row(form.lastName) }}
                                        {{ form_errors(form.lastName) }}
                                    </div>
                                
                                </div>

                                <div class="row">

                                    <div class="col mb-3">
                                    
                                        {{ form_row(form.email) }}
                                        {{ form_errors(form.email) }}

                                    </div>
                                
                                </div>

                                <div class="row">
                                    <div class="col mb-3 text-center">
                                    
                                        {{ form_row(form.Envoyer) }}
                                    </div>
                                </div>

                            {{ form_end(form) }}                        
                        
                        </div>
                    </div>
                
                </div>
                <div class="col-6">
                    <div class="card mb-3 g-0 border-0">
                            <h5>Résumé de la commande</h5>
                            <a href="{{ path('cart_index') }}" class="btn btn-custom-color">Modifier le panier</a>
                            {% if cartData | length > 0 %}
                                {% for item in cartData %}
                                
                                    <img src="{{ item.product.imagePath }}" class="img-fluid rounded-start" alt="{{ item.product.name }}">
                                        <div class="card-body d-flex justify-content-between">
                                            <h3> {{ item.product.name }}</h3>
                                        </div>
                                        <div class="card-footer d-flex justify-content-between border-0">
                                            <p>Quantité : {{ item.quantity }}</p>



                                            <p class="card-text">{{ ((item.product.price / 100) * item.quantity) | format_currency('EUR') }}</p>
                                        </div>
                                    </div>       
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}
