{% extends 'base.html.twig' %}

{% block title %}Commande
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row my-5">
			<div class="col-6">
                <h3 class="text-center mb-3">Informations de paiement</h3>
				<div class="card mb-3 g-0 border-0 rounded-4 shadow-sm my-auto">
					<div class="card-body">
						{{ form_start(form) }}

						<div class="row">

							<div class="col mb-3">

								{{ form_row(form.firstName) }}
								{{ form_errors(form.firstName) }}

							</div>

							<div class="col mb-3">
								{{ form_row(form.lastName) }}
								{{ form_errors(form.lastName) }}
							</div>

						</div>

						<div class="row">

							<div class="col mb-3">

								{{ form_row(form.email) }}
								{{ form_errors(form.email) }}

							</div>

						</div>
						
						<div class="row">

							<div class="col mb-3">

								{{ form_row(form.acceptPrivacy) }}
								{{ form_errors(form.acceptPrivacy) }}

							</div>

						</div>

						<div class="row">
							<div class="col mb-3 text-center">

								{{ form_row(form.Envoyer) }}
							</div>
						</div>

						{{ form_end(form) }}

					</div>
				</div>

			</div>
			<div class="col-6">

				<h3 class="text-center mb-3">Résumé de la commande</h3>
				{% if cartData | length > 0 %}
					{% for item in cartData %}

                        <div class="card border-0 mb-3 rounded-4 shadow-sm mx-auto">
                            <div class="row g-0">
                                <div class="col-md-3">
                                    <img src="{{ item.product.imagePath }}" alt="{{ item.product.name }}" class="img-fluid rounded-start-4 h-100 w-100"/>
                                </div>
                                <div class="col-md-9">
                                    <div class="card-body">
                                        <h3>{{ item.product.name }}</h3>
                                        <p>Quantité : {{ item.quantity }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

					{% endfor %}
				{% endif %}
				<div class="text-center">
					<a href="{{ path('cart_index') }}" class="btn btn-custom-color text-white rounded-pill px-4">
						Modifier le panier
					</a>
				
				</div>
			</div>
		</div>
	</div>
{% endblock %}