{% extends 'base.html.twig' %}

{% block title %}Boutique
{% endblock %}

{% block body %}

	<div class="container my-5">
		<div class="row">
			<h1 class="text-center mb-5">Boutique</h1>
		</div>

		<div class="row row-cols-1 row-cols-md-3 g-4">

			{% if products is empty %}

				<div class="col-12 col-md-12 col-lg-8 mx-auto">
					<div class="card rounded-4 shadow-sm h-100 border-0">
						<div class="card-body">
							<p class="card-text text-center">Aucun ebook disponible pour le moment. Revenez plus tard !</p>
						</div>
					</div>
				</div>
				
			{% endif %}

			{% for product in products %}

				<div class="col">

					<div class="card rounded-4 shadow-sm h-100 border-0">
						<img class="img-fluid h-75 rounded-top-4" src="{{ product.imagePath }}" alt="{{ product.name }}">
						<div class="card-body">
							<h5 class="card-title">{{ product.name }}</h5>
							<p class="card-text">{{ (product.price / 100) | format_currency('EUR') }}</p>
							{# <span class="badge-article badge text-bg-warning py-2 my-1">{{ product.categories }}</span> #}
						</div>

						<div class="card-footer text-center border-0 mb-3">
							<a href="{{ path('shop_product', { "slug": product.slug }) }}" class="btn btn-custom-color text-white rounded-pill px-4">Voir</a>
							<a href="{{ path('cart_add', { "id": product.id }) }}" class="btn text-white btn-add-cart-color rounded-pill px-4">Ajouter au panier</a>
						</div>

					</div>
				</div>

			{% endfor %}
		</div>
	</div>

{% endblock %}
